<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Document</title>
  <link rel='stylesheet' href='//at.alicdn.com/t/font_3172047_1f0ezv7tmbe.css' />
  <link rel='stylesheet' href='/public/css/reset.css' />
  <script src='https://unpkg.com/axios/dist/axios.min.js'></script>

  <link rel='stylesheet' href='/public/css/article.css' />
  <script src='https://cdn.jsdelivr.net/npm/marked/marked.min.js'></script>
  <link rel='stylesheet' href='/public/css/mark-down.css' />
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css' />
  <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js'></script>
  <script src='/public/js/markdown-toc.js'></script>
  <script src='/public/js/message.js'></script>
  <script src='/public/js/article.js'></script>
  <link rel='stylesheet' href='/public/css/markdown-toc.css' />
  <link rel='stylesheet' href='/public/css/message.css' />
</head>

<body>
  <div class='main-wrap'>
    <aside class='left-aside'>
      <a href='/' class='logo'>
        <img src='https://s2.loli.net/2022/04/13/nwOvHWCjcMyh9Df.jpg' alt='' />
      </a>
      <nav class='nav-wrap'>
        <a href='/' class='nav-item'>
          <i class='iconfont icon-home'></i>
        </a>
        <a href='#' class='nav-item'>
          <i class='iconfont icon-categories'></i>
        </a>
        <a href='#' class='nav-item'>
          <i class='iconfont icon-tags'></i>
        </a>
        <a href='#' class='nav-item'>
          <i class='iconfont icon-about'></i>
        </a>
        <hr />
        <a href='#' class='nav-item'>
          <i class='iconfont icon-login'></i>
        </a>
      </nav>
      <div class='placeholder'></div>
    </aside>
    <main class='content-wrap'>
      <div class='content-header'>
        <div class='header-wrap'>
          <div class='header-left'>
            <img src='https://s2.loli.net/2022/04/13/nwOvHWCjcMyh9Df.jpg' alt='' class='author-avatar' />
            <div class='publish-info'>
              <div class='publish-info__top'>
                <span class='author'>Lionel</span>
                <span>发表于</span>
                <span class='category'>{{article.category}}</span>
              </div>
              <div class='publish-info__bottom'>
                <i class='iconfont icon-date'></i>
                <span>{{date article.create_at}}</span>
              </div>
            </div>
          </div>
          <div class='header-right'>
            <i class='iconfont icon-views'></i>
            <span>{{article.views}}</span>
            <span>次阅读</span>
          </div>
        </div>
      </div>
      <div class='content'>
        <h1 class='title'>{{article.title}}</h1>
        <ul class='tag-list'>
          {{#each article.tags}}
          <li>
            <i class='iconfont icon-tags'></i>
            {{this}}
          </li>
          {{/each}}
        </ul>
        <article>
          <div id='markdown-body' class='markdown-body'>
            {{{articleHtml}}}
          </div>
        </article>
      </div>
    </main>
    <aside class='right-aside'>
      <div class='toc-wrap'>
        <h3 class='title'>文章目录</h3>
        <div id='markdown-toc' class='markdown-toc'>{{{tocHtml}}}</div>
      </div>
    </aside>
  </div>
  <div class='float-box'>
    <button class='like item' id='like-btn' onclick='thumbUp("{{article.pid}}")'>
      <i class='iconfont icon-likes'></i>
      <span id='likes'>{{article.likes}}</span>
    </button>
    <hr />
    <button class='comment item' onclick='toggleComment()'>
      <i class='iconfont icon-comments'></i>
      <span>{{comments.length}}</span>
    </button>
  </div>

  <div class='drawer-wrap' id='drawer-wrap'>
    <div class='mask' onclick='toggleComment()'></div>
    <div class='content'>
      <div class='comment-form-wrap'>
        <div class='header'>
          <h3 class='title'>发布评论</h3>
          <div class='close-btn' onclick='toggleComment()'>
            <i class='iconfont icon-cancle'></i>
          </div>
        </div>

        <div class='comment-form'>
          <input type='text' name='content' id='content-input' value='' placeholder='发表你的看法' />
          <div class='comment-btn-wrap'>
            <button class='comment-btn' onclick='handleComment()'>发表</button>
          </div>
        </div>
      </div>
      <hr />
      <div class='comment-list-wrap'>
        <div class='header'>
          <h3 class='title'>文章评论</h3>
        </div>
        <div class='comment-list'>
          {{#if comments}}
          {{#each comments}}
          <div class='comment-item'>
            <div class='comment-item__top'>
              <div class='user-avatar'>
                <img src='https://s2.loli.net/2022/04/13/nwOvHWCjcMyh9Df.jpg' alt='' />
              </div>
              <div class='comment-info'>
                <div class='username'>{{from}}</div>
                <div class='comment-date'>{{date create_at}}</div>
              </div>
            </div>
            <div class='comment-item__content'>
              <p>{{content}}</p>
            </div>
            <div class='comment-item__bottom'>
              <div class='replies'>
                <i class='iconfont icon-reply'></i>
                <span>{{replies.length}}回复</span>
              </div>
              <button class='reply-btn'
                onclick="toggleReplyForm('{{commentId}}','{{commentId}}','{{from}}')">回复</button>
            </div>
            <div class='reply-wrap' id='reply-{{commentId}}'>
              {{#if replies}}
              {{#each replies}}
              <div class='reply-item'>
                <div class='reply-item__top'>
                  <div class='user-avatar'>
                    <img src='https://s2.loli.net/2022/04/13/nwOvHWCjcMyh9Df.jpg' alt='' />
                  </div>
                  <div class='reply-info'>
                    <div class='username'>{{from_user}} 回复 {{to_user}}</div>
                    <div class='reply-date'>{{date create_at}}</div>
                  </div>
                </div>
                <div class='reply-item__content'>
                  <p>{{content}}</p>
                </div>
                <div class='reply-item__bottom'>
                  <button class='reply-btn'
                    onclick="toggleReplyForm('{{rid}}','{{../commentId}}','{{from_user}}')">回复</button>
                </div>
                <div class='reply-wrap' id='reply-{{rid}}'></div>
              </div>
              {{/each}}
              {{/if}}
            </div>
          </div>
          {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>


  {{!-- message --}}
  <div class="overlay">
    <ul class="message-list"></ul>
  </div>
</body>
<script type='text/html' id='comment-item-template'>
    <div class='comment-item__top'> <div class='user-avatar'>
      <img src='https://s2.loli.net/2022/04/13/nwOvHWCjcMyh9Df.jpg' alt='' /> 
    </div>
    <div class='comment-info'>
      <div class='username'>[from]</div>
      <div class='comment-date'>[create_at]</div>
    </div>
    </div>
    <div class='comment-item__content'>
      <p>[content]</p>
    </div>
    <div class='comment-item__bottom'>
      <div class='replies'>
        <i class='iconfont icon-reply'></i>
        <span>0 回复</span>
      </div>
      <button class='reply-btn' onclick='showReply("[commentId]","[from]")' >回复</button>
    </div>
    <div class='reply-wrap'></div>
  </script>

<script type="text/html" id="reply-form-template">
    <input class="reply-input" placeholder="说点什么吧" name="replyContent" id="reply-input-[id]" autofocus />
    <div class="reply-opt"> 
      <button class="cancle-btn" onclick="toggleReplyForm('[id]')">取消</button>
      <button class="reply-btn" onclick="handleReply('[id]','[commentId]','[to]')">回复</button>
    </div>
</script>

<script type="text/html" id="reply-item-template">
  <div class="reply-item__top">
    <div class="user-avatar">          
      <img src='https://s2.loli.net/2022/04/13/nwOvHWCjcMyh9Df.jpg' alt='' />
    </div>
    <div class="reply-info">
      <div class="username">[from_user] 回复 [to_user]</div>
      <div class="reply-date">[create_at]</div>
    </div>
  </div>
  <div class="reply-item__content">
      <p>[content]</p>
  </div>
  <div class="reply-item__bottom">
      <button class="reply-btn" onclick="toggleReplyForm('[rid]','[commentId]','[from_user]')">回复</button>
  </div>
  <div class="reply-wrap" id="reply-[rid]"></div>
</script>

</html>